:root {
    --main-color: turquoise;
    --border: 5px solid var(--main-color);
}

.container {
    display: flex;
    flex-direction: column;

    height: 700px;
}

.top {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

.content {
    width: 80%;
    text-align: center;
}

.bottom {
    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;

    border-left: var(--border);
    border-right: var(--border);
    border-bottom:var(--border);

}

.rectangle-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dot {
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: var(--main-color);
    border-radius: 50%;
}

.rectangle {
    width: 50px;
    height: 10px;
    background-color: var(--main-color);
}

