# התעלמות מכל ספריות הקוד שהורדנו
node_modules/

# קבצי לוג ושגיאות של npm (אם ייווצרו בעתיד)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# קבצי הגדרות אישיות של עורך הקוד (אופציונלי אך מומלץ)
.vscode/
.DS_Store