.parent {
    display: flex;
    width: 200px;
    height: 100px;
}

#evenly .box {
    flex: 1;
}

.box {
    background-color:indianred;
    border: 2px solid sandybrown;
}

.small {
    flex: 1;
}

.big {
    flex: 2;
}
